:root {
    --p: #da006a;
    --b: #1635e5;
    --dark: #000;
    --white: #ffffff;
    --light: #ccc;
    --gray: #696969;
}

/* General styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
}

/* Container styles */
.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row; /* Default to side-by-side layout */
}

/* Media section */
.media {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    overflow: hidden;
    position: relative;
}

.canvas-wrapper {
    width: 96%;
    aspect-ratio: 1 / 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Intro text section */
.intro-text {
    flex: 1;
    padding: 40px 40px 120px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dark);
    color: var(--white);
    text-align: center;
}

.intro-text h1 {
    font-size: 2.5rem;
    font-style: italic;
    line-height: 1.6;
}

.intro-text p {
    font-size: 16px;
    color: var(--light);
    line-height: 1.6;
    padding: 20px 0px;
}

.generate-btn {
    font-size: 15px;
    background-color: var(--p);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.generate-btn:hover {
    background-color: var(--b);
}

/* Navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, var(--p), #bb4eff, var(--b));
    padding: 10px 40px;
    position: sticky;
    font-size: 1rem;
    top: 0;
    z-index: 1000;
}

/* Dynamic gradient */
nav[data-active-page="generate"] {
    background: linear-gradient(90deg, var(--p), #ffffff, #bb4eff, #7d4eff,var(--b));
}

nav[data-active-page="library"] {
    background: linear-gradient(90deg, var(--p), #bb4eff, #ffffff, #7d4eff, var(--b));
}

nav[data-active-page="history"] {
    background: linear-gradient(90deg, var(--p), #bb4eff, #7d4eff, #ffffff, var(--b));
}

nav .logo a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1.5rem;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
    font-size: 0.9rem;
}

nav ul li a.active {
    font-weight: bold;
    text-decoration: underline;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav .auth-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav .auth-buttons .signup-btn {
    text-decoration: none;
    color: var(--white);
    font-size: 0.9rem;
}

nav .auth-buttons .login-btn, nav .auth-buttons .logout-btn {
    text-decoration: none;
    color: var(--white);
    background-color: var(--dark); /* Dark navy background */
    padding: 8px 16px;
    border-radius: 20px; /* Rounded corners */
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

nav .auth-buttons .login-btn:hover, nav .auth-buttons .logout-btn:hover {
    background-color: var(--p); /* Slightly lighter navy for hover */
}

.user-info {
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    color: var(--white);
}

/* Generate section styles */
.generate-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh; /* Full viewport height */
    padding: 0;
    margin: 0;
}

/* Left section styling */
.left-content {
    flex: 1; /* Take up half the width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--dark);
    color: var(--white); /* Text color for contrast */
    height: 100vh; /* Full viewport height */
    box-sizing: border-box; /* Ensure padding is included in height */
}

/* Right section styling */
.right-content {
    flex: 1; /* Take up half the width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: var(--dark); /* Text color for contrast */
    text-align: center;
    height: 100vh; /* Full viewport height */
    box-sizing: border-box;
}

.left-content h1 {
    font-size: 2rem;
    margin: 3rem 2rem;
}

.left-content .intro {
    margin: 2rem 2rem;
}

.left-content p {
    font-size: 1rem;
    margin: 0 2rem;
    line-height: 1.5rem;
    color: var(--gray);
}

.button-section {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* Action Buttons */
.action-button {
    padding: 5px 20px;
    font-size: 16px;
    border: 2px solid var(--light);
    border-radius: 15px;
    background-color: var(--p);
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

/* Hover effect */
.action-button:hover {
    background-color: var(--b);
    color: var(--white);
}

/* Dropdown Menu */
.dropdown {
    position: relative;
    display: flex; 
    justify-content: center; 
}

/* Dropdown button */
.dropdown .action-button {
    padding: 5px 20px;
    font-size: 16px;
    border-radius: 15px;
    background-color: var(--p);
    color: var(--white);
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
}

.dropdown .action-button:hover {
    background-color: var(--b);
    color: var(--white);
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 120%;
    left: 0;
    z-index: 1000;
    background-color: var(--white);
    color: var(--gray);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.dropdown-menu div {
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.dropdown-menu div:hover {
    background-color: var(--white);
}

/* Show dropdown when active */
.dropdown.active .dropdown-menu {
    display: block;
}

/* Result Section */
.result-section {
    max-width: 40rem; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Image Container */
.image-container {
    width: 40rem; 
    height: 40rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    position: relative;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

/* Color Palette */
.result-section .color-palette {
    max-width: 40rem; 
    width: 100%;
    margin: 1rem 0 1rem 0;

}

/* Row for Color Bars */
.color-row {
    display: flex;
    width: 100%;
}

/* Individual color item */
.color-item {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    width: 100px; /* Fixed width for consistency */
    /*background-color: rgb(238, 235, 235)*/
}

/* Color block */
.color-block {
    width: 100%;
    height: 30px;
}

/* Color details (code and controls) */
.color-details {
    text-align: center;
    margin-top: 10px;
}

.color-details .color-code {
    font-size: 0.8rem;
    color: var(--gray);
    margin: 0 0 0.5rem 0;
    line-height: 1rem;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-btn-1 {
    background: none;
    border: none;
    cursor: pointer;
}

.icon-btn-1:hover {
    transform: scale(1.1);
}

.color-picker {
    position: absolute;
    display: none; /* Hidden by default */
    z-index: 10; /* Ensures it appears above other elements */
}

.modal {
    display: none; /* 默认隐藏 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* 半透明背景 */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 确保在其他元素之上 */
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
}

.modal-buttons button {
    margin: 10px;
}

.modal-content input,
.modal-content select {
    display: block;
    width: 100%;
    margin: 10px auto;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.library-page, .category-page {
    padding: 20px;
    font-family: 'Lato', sans-serif;
}

.library-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.category-header {
    display: flex;

    justify-content: space-between;
    align-items: center;
    margin: 0 2rem 3rem 2rem;
}

.library-header h1 {
    font-size: 2rem;
    margin: 3rem 2rem;
}

.library-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.library-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.library-item-link {
    text-decoration: none;
    color: inherit;
}

.library-item:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.edit-category-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.7);
    border: none;
    color: white;
    border-radius: 50%;
    padding: 8px;
    font-size: 1.2rem;
    display: none;
    cursor: pointer;
}

.library-item:hover .edit-category-button {
    display: block;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 120px);
    gap: 5px;
    padding: 10px;
    background-color: #f0f0f0;
}

.image-placeholder {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
}

.image-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.empty-placeholder {
    width: 100%;
    height: 100%;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-details {
    padding: 10px;
    text-align: left;
}

.category-name {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    text-align: left;
}

.palette-count {
    font-size: 14px;
    color: #888;
    margin: 5px 0 0;
}

.categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 20px;
}

.category-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.category-item p {
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin: 0.5rem 1rem;
}

.palette-container {
    position: relative;
    overflow: visible;
}

.palette-container img {
    width: 100%;
    height: auto;
    transition: transform 0.2s ease;
}

.palette-container:hover img {
    transform: scale(1.05);
}

.palette-hover-icons {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 0.3s ease;
}

.palette-container:hover .palette-hover-icons {
    opacity: 1;
    z-index: 10; 
    pointer-events: all;
}

.icon-btn {
    background: rgba(0, 0, 0, 0.7);
    border: none;
    color: white;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease;
    position: relative; 
    z-index: 100;
}

.icon-btn:hover {
    background: rgba(0, 0, 0, 0.9);
}

/* Responsive styles for vertical screens */
@media (max-aspect-ratio: 1/1) {
    body, html {
        overflow: auto; /* Allow scrolling */
    }

    .container {
        flex-direction: column; /* Stack sections vertically */
        height: auto; /* Allow full height of both sections */
    }

    .media {
        order: 1;
        width: 100%;
        height: 100vw; /* Make the media area a square */
    }

    .intro-text {
        order: 2;
        flex: none;
        padding: 20px 20px 60px 20px;
    }
}

/* Responsive styles */
@media (max-width: 1024px) {
    nav {
        padding: 8px 20px; /* Reduce padding */
        font-size: 0.9rem; /* Adjust font size for smaller screens */
    }

    nav .logo a {
        font-size: 1.8rem; /* Scale down logo size */
    }

    nav ul li {
        margin: 0 1rem; /* Reduce spacing between menu items */
    }

    nav ul li a {
        font-size: 0.8rem; /* Adjust menu item font size */
    }

    nav .auth-buttons .signup-btn {
        font-size: 0.8rem;
    }

    nav .auth-buttons .login-btn {
        font-size: 0.8rem;
        padding: 6px 12px; /* Reduce button padding */
    }
}

@media (max-width: 768px) {
    .button-section {
        gap: 20px; 
    }
    .action-button {
        padding: 8px 16px; 
        font-size: 14px; 
    }
    .dropdown { 
        font-size: 14px;
    }
    .dropdown .action-button {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .button-section {
        flex-direction: column; 
        align-items: center; 
        gap: 15px; 
    }
    .dropdown {
        width: 80%; 
        font-size: 12px;
    }
    .dropdown .action-button {
        font-size: 12px;
    }
    .action-button {
        padding: 6px 12px;
        font-size: 12px;
        width: 80%;
    }
}

@media (max-width: 768px) {
    nav {
        flex-direction: column; /* Stack elements vertically */
        align-items: flex-start; /* Align to the left */
        padding: 8px 16px;
        font-size: 0.8rem;
    }

    nav .logo a {
        display: flex;
        font-size: 1.6rem;
        margin: 20px 0; /* Add spacing below logo */
    }

    nav ul {
        flex-direction: column; /* Stack menu items vertically */
        width: 100%; /* Full width */
    }

    nav ul li {
        margin: 5px 0; /* Add vertical spacing */
    }

    nav ul li a {
        font-size: 0.8rem;
    }

    nav .auth-buttons {
        flex: none; /* Prevent shrinking */
        margin-left: auto; /* Keep aligned to the right */
        margin-bottom: 10px;
    }

    nav ul li a,
    nav .auth-buttons .signup-btn,
    nav .auth-buttons .login-btn {
        font-size: 0.8rem; /* Reduce font size */
    }

    nav .auth-buttons .login-btn {
        padding: 6px 12px; /* Reduce button padding */
    }
}

@media (max-width: 480px) {
    nav {
        font-size: 0.7rem;
        padding: 5px 10px; /* Reduce padding further */
    }

    nav .logo a {
        font-size: 1.4rem; /* Scale down logo further */
    }

    nav ul li a {
        font-size: 0.7rem;
    }

    nav .auth-buttons .signup-btn,
    nav .auth-buttons .login-btn {
        font-size: 0.7rem;
        padding: 4px 4px; /* Reduce button size */
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .result-section {
        max-width: 90%; 
    }

    .image-container {
        width: 100%;
        height: 100vw; 
    }

    .color-palette {
        margin-top: 0.5rem;
    }

    .color-box {
        height: 2rem; 
    }

    .color-code {
        font-size: 0.8rem; 
    }
}

@media (max-width: 480px) {
    .result-section {
        max-width: 100%;
        padding: 0 1rem; 
    }

    .image-container {
        width: 100%;
        height: 100vw; 
    }

    .image-container img {
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
    }

    .color-palette {
        margin-top: 0.5rem; 
    }

    .color-box {
        height: 1.5rem; 
    }

    .color-code {
        font-size: 0.7rem; 
    }
}