{% extends "layout_log.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="login-form">
    <h2>Change Password</h2>
    <form action="{{ url_for('change_password') }}" method="POST">
        <label for="current-password">Current Password</label>
        <input type="password" id="current-password" name="current_password" placeholder="Enter current password" required>
        
        <label for="new-password">New Password</label>
        <input type="password" id="new-password" name="new_password" placeholder="Enter new password" required>
        
        <label for="confirm-password">Confirm New Password</label>
        <input type="password" id="confirm-password" name="confirm_password" placeholder="Confirm new password" required>
        
        <button type="submit" class="btn">Update Password</button>
    </form>
</div>
{% endblock %}
