{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/change-password" method="post" class="form-container">
        <!-- Current password input -->
        <input class="form-control" type="password" name="current_password" placeholder="Current Password" required>

        <!-- New password input -->
        <input class="form-control" type="password" name="new_password" placeholder="New Password" required>

        <!-- Confirm new password input -->
        <input class="form-control" type="password" name="confirmation" placeholder="Confirm New Password" required>

        <!-- Submit button -->
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}
