<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ObjectifyAI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <div class="media">
            <div class="canvas-wrapper">
                <canvas id="canvas"></canvas>
            </div>
        </div>
        <div class="intro-text">
            <h1>ObjectifyAI</h1>
            <p>Revolutionizing creative workflows with AI precision, 
                our platform empowers designers, artists, and creators to effortlessly isolate objects, remove backgrounds, 
                and access a vast library of similar assets.</p>
            <a href="{{ url_for('generate') }}">
                <button class="generate-btn">Start Journey</button>
            </a>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>
