<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Palette Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="media">
            <div class="canvas-wrapper">
                <canvas id="canvas"></canvas>
            </div>
        </div>
        <div class="intro-text">
            <h1>Color Palette Manager</h1>
            <p>Our platform empowers designers, artists, and creators to effortlessly generate, customize, and manage color palettes while exploring a vast library of harmonious combinations.</p>
            <a href="{{ url_for('generate') }}">
                <button class="generate-btn">Start Journey</button>
            </a>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>
